{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "globals": {
    "document": true,
    "window": true,
    "process": true,
    "fetch": false,
    "INSTALL": false,
    "INSTALL_ID": false,
    "INSTALL_SCOPE": false,
    "INSTALL_OPTIONS": false,
    "INSTALL_PRODUCT": false
  },
  "rules": {
    "class-methods-use-this": 0,
    "no-unused-vars": [
      0,
      {
        "varsIgnorePattern": "^h$"
      }
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowTaggedTemplates": true
      }
    ],
    "consistent-return": 0,
    "no-console": 0,
    "no-debugger": 0,
    "prettier/prettier": "error"
  }
}
