{
  "env": {
    "browser": true,
    "es6": true,
  },
  "extends": "eslint:recommended",
  "ecmaVersion": 7,
  "globals": {
    "Eager": false,
    "INSTALL_OPTIONS": false,
    "INSTALL_SCOPE": false,
    "INSTALL_ID": false
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel",
  ],
  "rules": {
    "babel/object-curly-spacing": ["warn", "never"],
    "array-bracket-spacing": ["warn", "never"],
    "arrow-parens": ["warn", "as-needed"],
    "arrow-spacing": ["warn", {
      "before": true,
      "after": true
    }],
    "block-spacing": ["warn", "always"],
    "brace-style": ["warn", "stroustrup", { "allowSingleLine": true }],
    "camelcase": "off",
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["error", {
      "before": false,
      "after": true
    }],
    "comma-style": ["warn", "last"],
    "computed-property-spacing": ["warn", "never"],
    "consistent-this": ["error", "self"],
    "consistent-return": "off",
    "constructor-super": "error",
    "curly": "off",
    "default-case": "warn",
    "dot-location": ["error", "property"],
    "dot-notation": "warn",
    "eol-last": "warn",
    "eqeqeq": ["error", "allow-null"],
    "indent": [2, 2, {
      "SwitchCase": 1,
      "VariableDeclarator": 1
    }],
    "key-spacing": ["warn", {
      "afterColon": true,
      "beforeColon": false,
      "mode": "strict"
    }],
    "keyword-spacing": ["warn", {
      "after": true,
      "before": true
    }],
    "jsx-quotes": ["warn", "prefer-double"],
    "linebreak-style": ["error", "unix"],
    "max-nested-callbacks": ["warn", 6],
    "new-cap": "error",
    "no-cond-assign": ["error", "except-parens"],
    "new-parens": "error",
    "newline-after-var": "warn",
    "no-array-constructor": "error",
    "no-caller": "error",
    "no-class-assign": "error",
    "no-console": "off",
    "no-const-assign": "error",
    "no-constant-condition": "warn",
    "no-continue": "warn",
    "no-debugger": "warn",
    "no-delete-var": "error",
    "no-dupe-class-members": "error",
    "no-else-return": "warn",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "warn",
    "no-extra-parens": ["warn", "all"],
    "no-floating-decimal": "error",
    "no-implied-eval": "error",
    "no-inline-comments": "off",
    "no-labels": "warn",
    "no-label-var": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "warn",
    "no-loop-func": "error",
    "no-mixed-spaces-and-tabs": "warn",
    "no-multi-spaces": "warn",
    "no-multiple-empty-lines": "warn",
    "no-native-reassign": "error",
    "no-nested-ternary": "warn",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-wrappers": "error",
    "no-restricted-syntax": ["error",
      "WithStatement"
    ],
    "no-redeclare": "error",
    "no-return-assign": "off",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow-restricted-names": "error",
    "no-spaced-func": "warn",
    "no-this-before-super": "error",
    "no-throw-literal": "error",
    "no-undef": "error",
    "no-undef-init": "error",
    "no-undefined": "error",
    "no-unexpected-multiline": "error",
    "no-unused-vars": "warn",
    "no-use-before-define": "error",
    "no-useless-call": "warn",
    "no-useless-concat": "warn",
    "no-var": "error",
    "no-void": "warn",
    "no-with": "error",
    "object-shorthand": ["warn", "always"],
    "one-var": ["warn", {
      "let": "never",
      "const": "never"
    }],
    "operator-assignment": ["warn", "always"],
    "operator-linebreak": ["warn", "after"],
    "padded-blocks": ["warn", "never"],
    "prefer-arrow-callback": "warn",
    "prefer-const": "error",
    "prefer-reflect": "off",
    "prefer-spread": "warn",
    "quote-props": ["warn", "as-needed", {
      "keywords": true
    }],
    "quotes": ["warn", "double"],
    "semi": ["error", "never"],
    "semi-spacing": ["warn", {
      "after": true,
      "before": false
    }],
    "space-before-blocks": ["warn", "always"],
    "space-in-parens": ["warn", "never"],
    "space-infix-ops": ["warn"],
    "space-unary-ops": ["warn"],
    "spaced-comment": ["warn", "always"],
    "yoda": ["warn", "never", {
      "exceptRange": true
    }]
  }
}
