/* Prefix classes and custom elements with `cloudflare` to avoid inheriting styles from the page. */

/* Set the id to your app's alias. */
cloudflare-app[app-id="example"] {
  display: flex;
  flex-flow: column;
  font-weight: bold;
  margin: .5em .2em;
  outline: 1px dotted;
  padding: .5em;
}
